:root {
  font-size: 62.5%;
}

* {
  --diff: calc(var(--max-size) - var(--min-size));
  --responsive: calc((var(--min-size) * 0.1rem) + var(--diff) * ((100vw - 42rem) / (1200 - 420))); /* Ranges from 421px to 1199px */
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

h1 {
  --max-size: 50;
  --min-size: 25;
  font-size: var(--responsive);
}

h2 {
  --max-size: 40;
  --min-size: 20;
  font-size: var(--responsive);
}

h3 {
  --max-size: 30;
  --min-size: 15;
  font-size: var(--responsive);
}

button {
  --max-size: 40;
  --min-size: 20;
  font-size: var(--responsive);
}
