:root {
  font-size: 62.5%;
}

*{
  --diff: calc(var(--max-size) - var(--min-size));
  --responsive: calc((var(--min-size) * 1px) + var(--diff) * ((100vw - 420px) / (1200 - 420))); /* Ranges from 421px to 1199px */
}

h1 {
  --max-size: 50;
  --min-size: 25;
  font-size: var(--responsive);
}

h2 {
  --max-size: 40;
  --min-size: 20;
  font-size: var(--responsive);
}

h3 {
  --max-size: 30;
  --min-size: 15;
  font-size: var(--responsive);
}

button{
  --max-size: 40;
  --min-size: 20;
  font-size: var(--responsive);
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
